alembic==0.9.9
click==6.7
Flask==1.0.2
flask_babel==0.11.2
flask_ckeditor==0.3.3
flask_login==0.4.1
flask_migrate==2.1.1
flask_moment==0.6.0
flask_sqlalchemy==2.3.2
flask_wtf==0.14.2
SQLAlchemy==1.2.7
Werkzeug==0.14.1
WTForms==2.1
