.masthead{
  z-index: 1;
}

.user-img{
  margin-top: -200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  padding-bottom: 30px;
}

.user-img img {
  border-radius: 5px;
  box-shadow: 0px 0px 2px #848484;
  border-radius: 50%;
  height: 275px;
}

p{
  margin-top: 0;
}


#row_content{
  margin-top: 20px;
}

.card-title{
  text-align: center;
  font-weight:normal;
  padding-bottom: 10px;
  padding-top: 10px;
}

.card-text{
  text-align: justify;
}

.blockquote-footer{
  padding-top: 15px;
  padding-bottom: 25px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.sticky:before,
.sticky:after {
    content: '';
    display: table;
}

#media_picture{
  border-radius:30%;
  max-width: 150px;
  height: auto;
  margin-bottom: 30px;
}

#python_logo{
  max-width: 150px;
  height: auto;
  margin-bottom: 30px;
}
