table{
  font-size: 16px
}

#add_button{
	width: 20%;                         /*set width*/
  margin-top: 5px;                    /*set top margin*/
  margin-bottom: 25px;                /*set margin bottom*/
  background-color: #009900;          /*set background color*/
  color: #FFF;                        /*set font color*/
  padding: 7px 14px;                  /*set padding*/
  border-radius: 5px;                 /*set border radius*/
  border-bottom: 4px solid #006600;   /*set bottom border*/
	border-top: 0;
	border-left: 0;
	border-right: 0;
}


/*when hovering the button*/
#add_button:hover, #add_button:focus {
  background-color: #006600;          /*set background color*/
  border-bottom: 4px solid #006600;   /*set bottom border color*/
  color: #FFF;                        /*set font color*/
}

#edit_button{
  margin-top: 5px;                    /*set top margin*/
  margin-bottom: 25px;                /*set margin bottom*/
  background-color: #0066ff;          /*set background color*/
  color: #FFF;                        /*set font color*/
  padding: 7px 14px;                  /*set padding*/
  border-radius: 5px;                 /*set border radius*/
  border-bottom: 4px solid #003d99;   /*set bottom border*/
	border-top: 0;
	border-left: 0;
	border-right: 0;
}


/*when hovering the button*/
#edit_button:hover, #edit_button:focus {
  background-color: #003d99;          /*set background color*/
  border-bottom: 4px solid #003d99;   /*set bottom border color*/
  color: #FFF;                        /*set font color*/
}


#delete_button{
  margin-top: 5px;                    /*set top margin*/
  margin-bottom: 25px;                /*set margin bottom*/
  background-color: #ff0000;          /*set background color*/
  color: #FFF;                        /*set font color*/
  padding: 7px 14px;                  /*set padding*/
  border-radius: 5px;                 /*set border radius*/
  border-bottom: 4px solid #990000;   /*set bottom border*/
	border-top: 0;
	border-left: 0;
	border-right: 0;
}


/*when hovering the button*/
#delete_button:hover, #delete_button:focus {
  background-color: #990000;          /*set background color*/
  border-bottom: 4px solid #990000;   /*set bottom border color*/
  color: #FFF;                        /*set font color*/
}
