<!-- Footer -->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/_footer.css') }}">
<footer class="container-fluid text-center" id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <a href="https://www.linkedin.com/in/jaume-nart-baron/" class="fa fa-linkedin fa-3x" id="social_network_logo"></a>
        <a href="https://github.com/theselfengineer" class="fa fa-github fa-3x"  id="social_network_logo"></a>
        <p class="copyright text-muted">Copyright &copy; www.enginyeer.com 2018</p>
      </div>
    </div>
  </div>
</footer>
