
{% extends 'layout.html' %}

{% block body %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/about.css') }}">

    <!-- Main Content -->
    <div class="container">

      <div class="row">

        <!-- picture -->
        <div class="user-img">
          <img src='{{url_for('static', filename = 'img/profile.jpg')}}'>
        </div>
      </div>

      <div class="row justify-content-sm-center" id="row_content">

        <div class="col-md-2">
          <div class="sidebar sticky">
            <nav id="nav" class="nav nav-pills nav-stacked" >
              <nav class="nav nav-pills">
                <a class="nav-link" href="#me">About me</a>
                <a class="nav-link" href="#the_blog">The blog</a>
                <a class="nav-link" href="#professional">Professional</a>
                <a class="nav-link" href="#resume">Resume</a>
              </nav>
            </nav>
          </div>
        </div>

        <div class="col-12 col-lg-8">

          <div class="card text-center mb-4">
            <div class="card-header" id="me">
              About me
            </div>
            <div class="card-body">
              <em><h4 class="card-title">So you want to know a bit more about me...</h4></em>
              <p class="card-text">
                Well, thank you for your interest!<br>
                My name is Jaume Nart Baron and I'm from Barcelona, Spain.<br>
                Since I was a little kid, I've been passionate about <em>building</em> stuff,
                <em>tinkering</em> pretty much everything and <em>understanding</em> how things work under the hood.
                It was pretty obvious I would end up as an engineer, and so I did.
              </p>
              <blockquote class="blockquote text-center w-75 mb-0 mx-auto">
                <p class="mb-0">I was originally supposed to become an engineer but the thought of having
                  to expend my creative energy on things that make
                  practical everyday life even more refined, with a loathsome capital gain as the goal, was unbearable to me.</p>
                <footer class="blockquote-footer">Albert Einstein</footer>
              </blockquote>
              <p class="card-text">Isn't he right tough? Well, this blog aims to be the main drain of my creative energy technology-wise.
              Here I will post all my hobbyist technology-related projects, explained step-by-step so anyone can replicate them
              and learn.</p>
              <em><h4 class="card-title">Topics I'm passionate about:</h4></em>
              <br>
              <!-- Left-aligned -->
              <div class="media">
                <img src='{{url_for('static', filename = 'img/about_3d.gif')}}' class="align-self-center mr-3" id="media_picture">
                <div class="media-body">
                  <em><h4 class="media-heading">Mechatronics & rapid prototyping</h4></em>
                  <p>Building a DIY 3D printer from scratch when I was 21
                  was by far the most important milestone for me as an engineer.
                  It's funny how somehting I did just for curiosity in my free time, turned out to be the beginning
                  of my passion for building, developing and prototyping. </p>
                </div>
              </div>
              <br>

              <!-- Right-aligned -->
              <div class="media">

                <div class="media-body">
                  <em><h4 class="media-heading">Internet of things</h4></em>
                  <p>My passion for electronics, networking, data analytics and data visualization in a single application?
                  That's the internet of things. There are plenty of open-source technologies that give hobbyists and engineers
                  limitless possibilities. For instance, I've already built my own home automation system which among other things,
                  lets me know if someone entered my room while I'm not there.</p>
                </div>
                <img src='{{url_for('static', filename = 'img/about_iot.gif')}}' class="align-self-center ml-3" id="media_picture">
              </div>
              <br>

              <!-- Left-aligned -->
              <div class="media">
                <img src='{{url_for('static', filename = 'img/about_AI.gif')}}' class="align-self-center mr-3" id="media_picture">
                <div class="media-body">
                  <em><h4 class="media-heading">Artificial Intelligence</h4></em>
                  <p>Machines that learn, make decisions and can find patterns in data that humans are uncapable of.
                    That's what artificial intelligence is all about. These technologies will disrupt everything as we know it today during the coming years.
                    Object detection, language processing and machine learning are some of the fields I'm more interested about.
                  </p>
                </div>
              </div>
              <em><h4 class="card-title">How am I going to do all this?</h4></em>
              <img src='{{url_for('static', filename = 'img/about_python.jpg')}}' id="python_logo">
              <p>Python is one of the most powerful and versatile languages out there today. Machine Learning, Computer Vision, Internet of Things, Web Development, Data Analytics, Time Travel.
              You can do anything with it. Besides, python is very easy to learn and understand for its syntax. I also might be using some other languages like
              Javascript, Java, C++, HTML, CSS, etc...</p>
            </div>

            <div class="card-header card-footer" id="the_blog">
              About this blog
            </div>

            <div class="card-body">
              <em><h4 class="card-title">The Self-Engineer</h4></em>
              <p class="card-text">
                Now, you might be asking yourself: What is a <em>self-engineer</em>?
                <br>
                This nickname came to me after my graduation as an engineer. I realized that, what differentiates me from other engineers is not the amount of hours
                I've studied more or less than them, nor the different subjects or even degrees we've coursed. The <em>difference and <strong>value</strong></em> lies on the extra quality time comitted
                to things I'm passionate about beyond the university duties. The <em>difference lies on all the self-study, Do It Yourself projects and self-learning done thanks to the <b>Internet</b>
                and its amazing community of truly passionate teachers and learners</em>.</p>
                <img src='{{url_for('static', filename = 'img/about_opensource.png')}}' id="open_source">
                <br>
                <p class="card-text">Education is changing, the knowledge is shifting from schools and universities to a public source available to anyone called internet.
                There are already tons of people sharing knowledge, enabling others to learn and making the internet the new land of opportunities.
                What I want to do with this blog is to contribute to this community.
                <em>In the future, a computer will be the greatest expression of freedom.</em>
              </p>
            </div>

              <div class="card-header card-footer" id="professional">
                As a professional
              </div>
              <div class="card-body">
              <em><h4 class="card-title">My career</h4></em>
                <p class="card-text">
                  On March 1st, 2018, I graduated with a <em>MSc in Industrial Engineering at Universitat Politècnica de Catalunya</em>.
                  <br>
                  But how even a person who is writing posts about computer science and software development graduated as an Industrial Engineer?
                  <br>
                  Well, when I was 18 and had to choose my studies, I was mainly passionate about hardware and mechanics. I didn't have any interest for
                  software development or any other similar subject. However, I did a wise choice. As I wasn't completely sure what I wanted to be as a professional,
                  I chose a very generic engineering degree: <i>Industrial Engineering</i>.
                  <br><br>
                  That kept all the doors open career-wise, even for the radical change I've made.
                  In this degree, I coursed a wide range of engineering subjects: physics, mathematics, statistics, fluid-dynamics, materials,
                  electric engineering, electronics, computer science (yes, as well), project management and even marketing and business management.
                  It might sound weird to you, but that's what Industrial Engineering is all about in Spain, doing a little bit of everything and doing nothing at the same time.
                  <br><br>
                  As the years passed by, my interest for electronics, networking and computer science increased and thanks to my abroad experiences (Besides Spain, I've studied
                  in Poland, Italy and France) and the broad studies I've coursed, I have been able to shape my studies as desired, which is great.
                  Also, while studying, I've had several real-work experiences in the form of internships. For more details, please refer to my resume which is attached below.
                </p>
              </div>
              <div class="card-header card-footer" id="resume">
                My resume
              </div>
              <div class="card-body">
                <a href="/resume" class="card-link">Click here to download my resume (.pdf format)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <hr>


    {% endblock %}
