
{% extends 'layout.html' %}

{% block body %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/about.css') }}">

    <!-- Main Content -->
    <div class="container">

      <div class="row">

        <!-- picture -->
        <div class="user-img">
          <img src='{{url_for('static', filename = 'img/profile.jpg')}}'>
        </div>
      </div>

      <div class="row justify-content-sm-center" id="row_content">

        <div class="col-md-2">
          <div class="sidebar sticky">
            <nav id="nav" class="nav nav-pills nav-stacked" >
              <nav class="nav nav-pills">
                <a class="nav-link" href="#me">About me</a>
                <a class="nav-link" href="#the_blog">The blog</a>
                <a class="nav-link" href="#professional">Professional</a>
                <a class="nav-link" href="#resume">Resume</a>
              </nav>
            </nav>
          </div>
        </div>

        <div class="col-12 col-lg-8">

          <div class="card text-center mb-4">
            <div class="card-header" id="me">
              About me
            </div>
            <div class="card-body">
              <em><h4 class="card-title">So you want to know a bit more about me...</h4></em>
              <p class="card-text">
                Well, thanks for the interest!
                My name is Jaume Nart Baron and I'm from Barcelona, Spain.
                Since I was a little kid, I've been passionate about <em>building</em> stuff,
                <em>tinkering</em> pretty much everything and <em>understanding</em> how things work under the hood.
                It was pretty obvious I would end up as an engineer, and so I did.
              </p>
              <blockquote class="blockquote text-center w-75 mb-0 mx-auto">
                <p class="mb-0">I was originally supposed to become an engineer but the thought of having
                  to expend my creative energy on things that make
                  practical everyday life even more refined, with a loathsome capital gain as the goal, was unbearable to me.</p>
                <footer class="blockquote-footer">Albert Einstein</footer>
              </blockquote>
              <p class="card-text">Isn't he right tough? Well, this blog aims to be the main drain of my creative energy.
              Here I will post all my technology-related projects, explained step-by-step so anyone can replicate them
              and learn. My main interests are Internet of Things, Artificial Intelligence and Mechatronics.</p>
              <em><h4 class="card-title">I like to do other things though</h4></em>
              <br>
              <!-- Left-aligned -->
              <div class="media">
                <img src='{{url_for('static', filename = 'img/about_travel.jpg')}}' class="align-self-center mr-3" id="media_picture">
                <div class="media-body">
                  <em><h4 class="media-heading">Travel the world</h4></em>
                  <p>Get to know other cultures, speak other languages, meet new people are things are deeply enjoy.
                  I've had the opportunity to live in Italy, France, Poland and Belgium and the list will probably
                  get larger. I speak fluently 5 languages and I have friends from all over the world.</p>
                </div>
              </div>
              <br>

              <!-- Right-aligned -->
              <div class="media">

                <div class="media-body">
                  <em><h4 class="media-heading">Train the mind and the body</h4></em>
                  <p>I've always been a sports person. I've been playing basketball since I was 10 years old.
                  I can't number all the values and principles that this fantastic sport has taught me.
                  Wherever I may travel, basketball will follow.</p>
                </div>
                <img src='{{url_for('static', filename = 'img/about_basket.jpg')}}' class="align-self-center ml-3" id="media_picture">
              </div>
              <br>

              <!-- Left-aligned -->
              <div class="media">
                <img src='{{url_for('static', filename = 'img/about_guitar.jpg')}}' class="align-self-center mr-3" id="media_picture">
                <div class="media-body">
                  <em><h4 class="media-heading">Feel the music</h4></em>
                  <p>Find three hobbies you love: One to make you money, one to keep you in shape, and one to be creative.
                  Me and my guitar, we are an inseparable pack. I also sing but just for me, because I'm actually fairly bad.
                  </p>
                </div>
              </div>


            </div>

            <div class="card-header card-footer" id="the_blog">
              About this blog
            </div>

            <div class="card-body">
              <em><h4 class="card-title">The Self-Engineer</h4></em>
              <p class="card-text">
                What is that? What is a self-engineer? It is basically the <em>DIY approach</em> to learning, building and
                getting things done. <br>
                This name came up to me one day I realized that most of the knowledge I acquire comes from
                the self-study, being the internet and the community living there the main source.
                <br>Education is changing, the knowledge shifted from schools and universities to a public source available to anyone called internet.
                There are tons of people sharing knowledge, enabling others to learn and making the internet the new land of opportunities.
                That I want to do with this blog is to contribute to this community.
                In the future, a computer will be the greatest expression of freedom.
              </p>
            </div>

              <div class="card-header card-footer" id="professional">
                As a professional
              </div>
              <div class="card-body">
              <h5 class="card-title">My experience</h5>
                <p class="card-text">
                  During my engineering studies, I have had few work experiences as an intern.
                  My most rewarding professional experience so far has been in Procter & Gamble
                  where I worked as an engineering project manager in Brussels, Belgium.
                  Now I'm heading to Italy, near Milan, to do an internship in Amazon as a robotics engineer.
                  If you want to have more details about my studies and career, below you'll find
                  attached my resume.
                </p>
              </div>

              <div class="card-header card-footer" id="resume">
                My resume
              </div>
              <div class="card-body">
                <a href="/resume" class="card-link">Click here to download my resume in PDF</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <hr>


    {% endblock %}
