
{% extends 'layout.html' %}

{% block body %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/about.css') }}">

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <!-- picture -->
        <div class="user-img">
          <img src='{{url_for('static', filename = 'img/profile_resized.jpg')}}'>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
          My name is Jaume Nart Baron, I'm 25 and I'm an engineering student from Barcelona, Spain.
          Since I was a little kid, I've been passionate about building stuff, tinkering pretty much everything and understanding how things work under the hood.
          My main interests are artificial intelligence, IoT, data science and application development. I've built robots, 3D printers, mobile/web/desktop applications, IoT prototypes
          and I do continue to do that in my free time.
          This blog aims to order both my acquired knowledge throughout my engineering studies and my future projects in a clean way so they can be accessed later on if needed.
          I would also like to contribute to the open-source community, share my knowledge with other makers and even inspire some beginners.
          If you have any question or want to contact me, don't hesitate, I'll be very happy to answer.
          </p>
        </div>
      </div>
    </div>
    <hr>

    {% endblock %}
