{% extends 'layout.html' %}
{% from "includes/_formhelpers.html" import render_field %}

{% block body %}

    <!-- Include CK Editor-->
    {{ ckeditor.load() }}

    <!-- Include the navbar-->
    {% include 'includes/_dashboard_nav.html' %}

    <!-- Include the CSS-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/add.css') }}">

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <h1>Publish a post</h1>
          <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                {{render_field(form.title, class_="form-control", placeholder = "title")}}
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                {{render_field(form.subtitle, class_="form-control", placeholder = "subtitle")}}
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                {{render_field(form.author, class_="form-control", placeholder = "author")}}
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                {{render_field(form.tags, class_="form-control", placeholder = "tags")}}
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                {{render_field(form.content, class_="form-control", placeholder = "content")}}
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="publish_button">Publish it</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <hr>

    {{ ckeditor.config(name='content')}}


    {% endblock %}
