{% extends 'layout.html' %}

{% block body %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}">

    <!-- Main Content -->
    <div class="container">

      <div class="row justify-content-sm-center">
        <div class="col-lg-7
                    col-md-7" id="content_col">

          {% for post in posts %}
            <div class="post-preview">
              <a href="{{ url_for('post', post_id = post.id)}}">
                <h2 class="post-title">
                  {{ post.title }}
                </h2>
                <h3 class="post-subtitle">
                  {{ post.subtitle }}
                </h3>
              </a>


              <ul class="list-inline">
              {% for tag in post.tags %}
                <a href="{{ url_for('tag', tag_id = tag.id)}}">
                  <li>
                    <h6><span class="badge badge-info">{{tag.name}}</span></h6>
                  </li>
                </a>
                {% if tag != post.tags[-1]%}
                <li>|</li>
                {% endif %}
              {% endfor %}
              </ul>


              <p class="post-meta">{{ _('Posted by') }}
                <a href="{{ url_for('about')}}">{{ post.author }}</a>
                {{ _('on') }} {{moment(post.date_posted).format('LL')}}</p>
            </div>

          {% endfor %}
        </div>

        <div class="col-lg-3
                    col-md-3" id="tag_col">

          <!--
          Search Widget
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for...">
            <span class="input-group-btn">
              <button class="btn btn-info" type="button">Go!</button>
            </span>
          </div>
          -->
          <h2>Categories</h2>
          <hr>
          {% for tag in tags %}
          <ul class="list-inline" id="tag_ul">
            <li>
              <a href="{{ url_for('tag', tag_id = tag.id)}}">
                <h6><span class="badge badge-info">{{tag.name}}</span></h6>
              </a>
            </li>
            <li>|</li>
            <li>
              <h6><span class="badge badge-info">{{tag.posts.count()}}</span></h6>
            </li>
          </ul>
          {% endfor %}
        </div>
      </div>

      <div class="row">
        <nav class="col-lg-10 col-md-10 mx-auto">
          <hr>
          <ul class="pagination">
            {% if prev_url %}
            <li class="page-item">
            {% else %}
            <li class="page-item disabled">
            {% endif %}
              <a class="page-link" href="{{ prev_url }}" tabindex="-1">{{_('Previous')}}</a>
            </li>
            {% if next_url %}
            <li class="page-item">
            {% else %}
            <li class="page-item disabled">
            {% endif %}
              <a class="page-link" href="{{ next_url }}">{{_('Next')}}</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    {% endblock %}
