{% extends 'layout.html' %}

{% block body %}

<!-- Include the CSS-->
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/messages.css') }}">

<!-- Include the navbar-->
{% include 'includes/_dashboard_nav.html' %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for message in messages %}
      <div>
          <p>
            {{ message.message }}
          </p>
        <p>Posted by
          <a href="{{ url_for('about')}}">{{ message.email }}</a>
          on {{message.date_posted.strftime('%B %d, %Y')}}</p>
      </div>
      <hr>
      {% endfor %}
      <hr>
      <!-- Pager -->
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#" id="more_button">Older messages</a>
      </div>
    </div>
  </div>
</div>
<hr>


{% endblock %}
