{% extends 'layout.html' %}

{% block body %}

    <!-- Load code snippets CSS theme -->
    {{ ckeditor.load_code_theme() }}

    <!-- Load CSS-->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/post.css') }}">

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{url_for('static', filename = 'img/post_bg.jpg')}}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1>{{ post.title }}</h1>
              <h2 class="subheading">{{ post.subtitle }}</h2>
              <ul class="list-inline">
                <li><span class="meta">Posted by
                  {{ post.author }}
                  on {{post.date_posted.strftime('%B %d, %Y')}}</span></li>
                <li>|</li>
                <li>{% include 'includes/_social_share.html' %}</li>
              </ul>

            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            {{ post.content | safe }}
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto" id="social_share">
            {% include 'includes/_social_share.html' %}
          </div>
        </div>
      </div>
    </article>

    <hr id="hr_end">





    <script>
    $("p img").unwrap();
    </script>

{% endblock %}
